*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.container {
    width: 70%;
    margin: 20px auto 20px;
}

img{
    width: 200px;
    padding: 10px;
}

ul{
    list-style: none;
}

a{
    color: gray;
    text-decoration: none;
}
.debug header{
    height: 100px;
    background-color: #e46ed4; 
    padding-left: 10px;
}

.debug nav{
    height: 450px;
    background-color: #e7d36f;
}

.debug main{
    height: 500px;
    background-color: #2e2aff;
    margin-bottom: 10px;
}

.debug footer{
    height: 65px;
    background-color: #7e0073;
    vertical-align: middle;
    padding-left: 10px;
    margin-top: 5px;
}

main .top-col{
    background-color: #b5b4d3;
    width: 100%;
    height: 20% ;
}

main .left-col{
    float: left;
    height: 72%;
    margin-top: 20px;
    width: 25%;
    background-color: #b5b4d3;
}

main .right-col{
    float: left;
    height: 72%;
    margin-top: 20px;
    width: 25%;
    background-color: #b5b4d3;
}


 


main .center-col{
    float: left;
    background-color: #b5b4d3;
    width: 46%;
    height: 72%;
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
}
