*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.container {
    width: 70%;
    margin: 20px auto 20px;
}

/* Layout */

header{
    height: 130px;
    padding-left: 10px;
}


li{
    display: inline-block;
    margin-right: 20px;
}

ul{
    list-style: none;
}

a, .top-col span{
    color: gray;
    text-decoration: none;
}

.central-img{
    width: 65%;
    height: 100%;
    padding-top: 250px;
    padding-bottom: 20px;
    padding-left: 40px;
    color: white;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.2);
    width: 70%;
    height: 560px;
    position: absolute;
    border-radius: 20px;
}

.img-frst{
    height: 560px; 
    background-image: url("../img/banner.jpg");
    border-radius: 20px;

}

.central-img h1{
    margin-bottom: 40px;
}


header img{
    width: 200px;
    padding: 10px;
    border-right: 1px solid gray;
}

main{
    height: 800px;
    border-bottom: 10px;
}

main .top-col{
    width: 100%;
    height: 120px;
}

.left-col img, .right-col img{
    width: 236px;
    height: 192px;
    border-radius: 15px;
}

.center-col img{
    height: 192px;
    width: 100%;
    border-radius: 15px;
}

.left-col, .center-col, .right-col{
    position: relative;
    float: left;
}
.overly-1, .overly-2, .overly-3{
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    width: 100%;
    height: 175px;
    top: 0;
    z-index: 2;
    border-radius: 15px;
}


.top-col h1{
    font-size: 50px;
}


main .left-col{
    float: left;
    height: 72%;
    margin-top: 20px;
    width: 25%;
}

main .right-col{
    float: left;
    height: 72%;
    margin-top: 20px;
    width: 25%;
}

main .center-col{
    float: left;
    width: 46%;
    height: 72%;
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
}

footer{
    height: 65px;
    vertical-align: middle;
    padding-left: 10px;
    margin-top: 5px;
    text-align: center;
}

/* / layout*/

/* Debug *


.debug header{
    height: 130px;
    background-color: #e46ed4; 
    padding-left: 10px;
}

.debug nav{
    height: 560px;
    background-color: #e7d36f;
}


.debug .central-img{
    background-color: rgba(0, 128, 0, 0);
    width: 65%;
    height: 100%;
    padding-top: 200px;
    padding-bottom: 20px;
  }

*

.debug main{
    height: 700px;
    background-color: #2e2aff;
    margin-bottom: 10px;
}

.debug footer{
    height: 65px;
    background-color: #7e0073;
    vertical-align: middle;
    padding-left: 10px;
    margin-top: 5px;
}


.debug .top-col{
    background-color: #b5b4d3;
    width: 100%;
    height: 20% ;
}



.debug .center-col{
    float: left;
    background-color: #b5b4d3;
    width: 46%;
    height: 72%;
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
}

.debug .left-col{
    float: left;
    height: 72%;
    margin-top: 20px;
    width: 25%;
    background-color: #b5b4d3;
}

.debug .right-col{
    float: left;
    height: 72%;
    margin-top: 20px;
    width: 25%;
    background-color: #b5b4d3;
}


/* / debug */